   <!-- Subscription card -->
                    <li class="relative flex">
                        <a href="#" class="w-full border-4 border-red-600 rounded-lg py-4 px-7 transition hover:bg-black/5">
                            <div class="flex flex-row items-center justify-between">
                                <div class="flex flex-col items-start justify-center">
                                    <h3 class="font-bold text-lg">Abonnement 1 mois - HD</h3>
                                    <span class="font-medium text-gray-400 text-nowrap">Le moins chère</span>
                                </div>
                                <span class="text-3xl font-bold">3€</span>
                            </div>
                            <p class="flex items-start justify-between mt-5 mb-8 text-md pr-3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque in iure officiis suscipit vel. </p>
                            <div>
                                <button class="border-transparent bg-red-600 px-4 py-3 text-md text-white rounded-md">S'abonner</button>
                            </div>
                        </a>
                    </li>
                    <!-- /Subscription card -->
