  <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                                            <td class="">
                                                <div class="flex items-center py-5 px-5">
                                                    <input type="checkbox" value="" class="w-5 h-5 appearance-none border border-gray-300  rounded-md mr-2 hover:border-indigo-500 hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-indigo-100">
                                                </div>
                                            </td>
                                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> 20010510</td>
                                            <td class=" px-5 py-3">
                                                <div class="w-48 flex items-center gap-3">
                                                    <img src="https://fr.web.img2.acsta.net/c_310_420/medias/nmedia/00/02/53/35/affiche0.jpg" class="w-16" alt="">
                                                    <div class="data">
                                                        <p class="font-normal text-sm text-gray-900">Harry Potter 1</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">2001</td>
                                            <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                                <div class="py-1.5 px-2.5 bg-blue-50 rounded-full flex justify-center w-20 items-center gap-1 text-blue-600">
                                                    <span class="font-medium text-xs">Film</span>
                                                </div>
                                            </td>
                                            <td class="flex p-5 items-center gap-0.5">
                                                <button class="p-2 rounded-lg transition text-orange-400 flex item-center hover:bg-black/10">
                                                    <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <title>pencil</title>
                                                        <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
                                                    </svg>
                                                </button>
                                                <button class="p-2  rounded-lg transition text-red-600 flex item-center hover:bg-black/10">
                                                    <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <title>delete</title>
                                                        <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>