 <!-- Actor -->
                        <li class="relative rounded-xl overflow-hidden transition cursor-pointer hover:scale-105 hover:opacity-90 hover:shadow-md">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Marion_Cotillard_at_2019_Cannes.jpg/440px-Marion_Cotillard_at_2019_Cannes.jpg" class="object-cover h-full w-full -z-10" alt="">
                            <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-end">
                                <div class="self-center flex flex-col items-center space-y-2">
                                    <span class="capitalize text-white font-medium drop-shadow-md">Marion Cotillard</span>
                                    <span class="text-gray-100 text-xs truncate">Mallorie Cobb, l'ombre</span>
                                </div>
                            </div>
                        </li>
                        <!-- /Actor -->