  <!-- Comment -->
                        <li class="mt-9">
                            <div class="bg-gray-100 p-4 rounded-lg">
                                <div class="flex items-center">
                                    <img src="https://random.imagecdn.app/100/100?a" class="w-10 h-10 rounded-full" alt="">
                                    <div class="ml-4 w-full">
                                        <span class="font-medium">John Doe</span>
                                        <span class="text-xs text-gray-500 flex items-center justify-between w-full">
                                        <span>Il y a 2 jours</span>
                                        <span></span>
                                    </span>
                                    </div>
                                </div>
                                <p class="mt-4 w-full">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, consectetur deleniti deserunt ducimus harum iusto laboriosam minima nobis obcaecati odit officiis omnis quibusdam repellat repudiandae totam voluptas, voluptatem voluptatibus voluptatum.</p>
                            </div>
                        </li>
                        <!-- /Comment -->
