<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Streemi{% endblock %}</title>
        {% block javascripts %}
            <script src="https://cdn.tailwindcss.com"></script>
        {% endblock %}
    </head>
    <body class="font-montserrat text-sm bg-white">
        <div class="flex min-h-screen 2xl:max-w-screen-2xl 2xl:mx-auto 2xl:border-x-2 2xl:border-gray-200">
            {% include 'parts/left-menu.html.twig' %}
            
            <main class="flex-1 py-10 px-5 sm:px-10">
                {% block content %}{% endblock %}
            </main>
            
            {% include 'parts/right-sidebar.html.twig' %}
        </div>
    </body>
</html>
